.test {
  border-color: 2px solid red;
  width: 200px;
  height: 200px;
  z-index: 1000;
  position: absolute;
  top: 10px;
  left: 45px;
}

.test-p {
  color: red;
  text-decoration: underline;
}

.test-b {
  color: rgba(141, 211, 115, 1);
  width: 63px;
  height: 33px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 8px;
}
